<table class="info">
	<tr>
		<td>
			<%= image_tag("number.gif", :alt => "Phone Number") %>
		</td>
		<td>
			<%= link_to about_button, about_path %>
		</td>
		<td>
			<%= link_to rates_button, info_path %>
		</td>
		<td>
			<%= link_to pay_button, "#" %>
		</td>
	</tr>
</table>