<table class="main_table">
	<tr>
		<td>
			<%= link_to snow_button, snow_path %>
		</td>
		<td>
			<%= link_to lawn_button, lawn_path %>
		</td>
		<td>
			<%= link_to landscape_button, landscape_path %>
		</td>
	</tr>
</table>
<div class="intro">
	<%= image_tag("intro.png", :alt => "Introduction") %>
</div>