<table class="main_table">
	<tr>
		<td>
			<%= image_tag("snow_removal.gif", :alt => "Snow Removal") %>
		</td>
		<td>
			<%= image_tag("lawn_care.gif", :alt => "Lawn Care") %>
		</td>
		<td>
			<%= image_tag("landscape_design.gif", :alt => "Landscape Design") %>
		</td>
	</tr>
</table>
<div class="info">
	<%= image_tag("info.png", :alt => "Information") %>
</div>